<%- include('../partials/header') %>

 <h1><%=title%></h1>
      <p>Feel free to look around the other pages!</p>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyOHqVXLWax0DLBShgCFqkQLSKPb6niwIbkw&usqp=CAU">
     <%- include('../partials/footer') %>