<!DOCTYPE html>
<html>
  <head>
    <title>Top Games</title>
  </head>
  <body>
    <h1>Welcome to Top Games!</h1>
    <p>Here are some of the most popular games right now:</p>
    <ul>
      <li>
        <h2>Action</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNkeCr3_g4QIoQLtDCdOXds2Smz7Iwrdy99g&usqp=CAU">
        <p>Get ready for non-stop action with some of the top games in the action genre! Some of the most popular games right now include "Call of Duty: Black Ops Cold War", "Assassin's Creed Valhalla", and "Cyberpunk 2077".</p>
        <ul>
          <li>Top developer: Rockstar Games</li>
          <li>Top game: "Grand Theft Auto V"</li>
          <li>Next big release: "Far Cry 6" by Ubisoft on October 7th</li>
        </ul>
      </li>
  </body>
</html>
