<%- include('../partials/header') %>

 <h1><%=title%></h1>
      <h2>Welcome to my page!</h2>    
      <p>Go ahead and look around to see different templates </p>    
      <p>Using ejs styles </p>  
      <p>Mico Enriquez</p>  
     <%- include('../partials/footer') %>
